
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.encabezado {
  text-align: center;
  color: #000000;
}

.encabezado h1 {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 0.5rem;
}



.contenedor-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
}

.card-producto {
  background-color: #1a1a1a;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card-producto:hover {
  transform: scale(1.02);
  box-shadow: 0 0 30px rgba(224, 146, 0, 0.35);
}

.imagen-wrapper {
  width: 100%;
  max-height: 450px;
  overflow: hidden;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-producto {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.contenido-producto {
  padding: 2rem;
  color: #e4e4e4;
  text-align: center;
}

.nombre-producto {
  font-size: 2rem;
  color: #f3f3f3;
  margin-bottom: 1rem;
}

.precio-producto {
  font-size: 1.5rem;
  color: #9dffec;
  margin-bottom: 1rem;
}

.descripcion-producto {
  font-size: 1rem;
  color: #c5c5c5;
  margin-bottom: 1.5rem;
}

.detalles-producto {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.detalles-producto li {
  margin-bottom: 0.5rem;
  color: #aaaaaa;
  font-size: 0.95rem;
}

.boton-cotizar {
  background-color: #a8a8a8;
  color: #0f0f0f;
  text-decoration: none;
  padding: 0.75rem 2rem;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.boton-cotizar:hover {
  background-color: #0f0f0f;
  color: #acb4bb;
  border: 1px solid #8e8f8f;
}

/* Responsive */
@media (min-width: 768px) {
  .card-producto {
    flex-direction: row;
  }

  .imagen-wrapper, .contenido-producto {
    flex: 1;
  }

  .contenido-producto {
    text-align: left;
  }
}


